{erl_opts, [debug_info,
            {i, "./_build/default/plugins/gpb/include/"},
            {i, "apps/example/include"}]}.
{deps, [{elli, {git, "https://github.com/elli-lib/elli.git", {branch, "develop"}}},
        elli_cookie,
        elli_date,
        mimerl,
        {pgo, {git, "https://github.com/bryanhughes/pgo.git", {branch, "master"}}}]}.

{plugins, [{rebar3_gpb_plugin, "2.19.0"}, {rebar3_autotest, "0.1.1"}, rebar3_run, rebar_alias, rebar3_hex]}.

{gpb_opts, [{i, "proto"},
            {o_erl, "src"},
            {o_hrl, "include"},
            use_packages,
            {module_name_suffix, "_pb"},
            {strings_as_binaries, true},
            {recursive, true},
            maps,
            type_specs]}.

% THIS IS A HACK BECAUSE the gpb plugin doesnt work as advertised. Putting the gpb_opts in the project folder
% apps/example does not result in the generation of the _pb.erl files. Keeping it here generates them in the _build
% path, so yeah...
{extra_src_dirs, ["./_build/default/lib/example/src"]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [{release, {example, "0.1.0"}, [example, sasl]},
        {mode, prod},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
]}.

{shell, []}.
{dist_node, [{name, 'example@127.0.0.1'}]}.

{profiles, [
    {prod, [
        {include_erts, true},
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{mode, prod}]}
    ]},
    {test, [
        {deps, [meck]},
        {erl_opts, [debug_info]}
    ]}
]}.