output
.DS_Store
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
out
*_db.erl
*_pb.erl

example/apps/example/src/proto_crudl_utils.erl
example/apps/example/src/*_db.erl
example/apps/example/src/*_pb.erl
example/apps/example/include/*_pb.hrl
example/apps/example/proto/*
