[
  {kernel, [
    {logger, [
      {handler, default, logger_std_h,
        #{level => info,
          formatter => {logger_formatter, #{single_line => true}},
          config => #{type => {file, "log/info.log"}}}},
      {handler, errors, logger_std_h,
        #{level => error,
          formatter => {logger_formatter, #{single_line => false}},
          config => #{type => {file, "log/errors.log"}}}}
    ]},
    {logger_level, debug}
  ]},

  {pg_types, {uuid, string}},

  {pgo, [{pools, [{default, #{pool_size => 10,
    host => "127.0.0.1",
    database => "erl_crudl",
    user => "erl_crudl",
    password => "erl_crudl"}}]}]}
].